h1, h2 {
    color: blueviolet;
    font-size: 50px;
}


.box > .done {
    color: firebrick;
    font-size: 24px;
}

.list li {
    color: blue;
    font-size: 24px;
}

li.done {
    color: seagreen;
}

ul p.done {
    font-size: 0.5rem;
}